/*
Add styles or override variables from the theme here.
https://www.docsy.dev/docs/adding-content/lookandfeel/#fonts

Docsy's default colors
$primary: #30638e !default;
$secondary: #ffa630 !default;
$success: #3772ff !default;
$info: #c0e0de !default;
$warning: #ed6a5a !default;
$danger: #ed6a5a !default;
$light: #d3f3ee !default; // TODO: consider using BS value
$dark: #403f4c !default;  // TODO: consider using BS value
*/


@font-face {
  font-family: 'AmpleSoft Pro Bold';
  src: url('/fonts/amplesoft_pro_bold-webfont.woff2') format('woff2'),
       url('/fonts/amplesoft_pro_bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'AmpleSoft Pro Medium';
  src: url('/fonts/amplesoft_pro_medium-webfont.woff2') format('woff2'),
       url('/fonts/amplesoft_pro_medium-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


$primary: #001321;
$dark: #001321;
$info: #ffa62f;
$google_font_name: "Open Sans";
$google_font_family: "Open+Sans:300,300i,400,400i,700,700i";

$light_grey: #F1F5F9;
$light_blue: #4AC1E0;
$medium_blue: #005491;
$dark_blue: #253C5D;
$border_grey: #D7DDE3;
$container_spacing: 16px;
$mustard_yellow: #F3B722;



@mixin mobile {
  @media (max-width: 500px) { @content; }
}

@mixin tablet {
  @media (max-width: 715px) { @content; }
}

@mixin desktop {
  @media (max-width: 915px) { @content; }
}

@mixin large-desktop {
  @media (max-width: 1280px) { @content; }
}

// Override navbar styles
nav.td-navbar-cover {
  background: $dark_blue !important;
}

.navbar-dark .navbar-nav .nav-link {
  color: white !important;
}
