<!-- release notes Makelog scripts -->
<script
  type="module"
  src="https://unpkg.com/@makelog/widgets@latest/dist/makelog-widgets/makelog-widgets.esm.js">
</script>
<script
  nomodule
  src="https://unpkg.com/@makelog/widgets@latest/dist/makelog-widgets/makelog-widgets.js">
</script>
<!-- END release notes Makelog scripts -->

<!-- pendo -->
<script type="text/javascript" id="pendo-script" src="js/pendo.js"></script>
<!-- end pendo -->

<!-- sets a link in the left TOC -->
 <style>
  li #m-deployment-li {
    border-bottom: 1px solid #CECFD1; /* Set the color and thickness of the divider */
    margin-bottom: 12px !important
  }
  </style>


